<script type="text/javascript">
//点击一行时选中此行的checkbox
function selectCheckbox(e){
	var checkboxObj = $(e).find("input[name='grid_checkbox']");
	var value = checkboxObj.is(":checked");
	if(value == true){
		checkboxObj.prop("checked",false);
		$(e).css("background", "");
	}else{
		checkboxObj.prop("checked",true);
		$(e).css("background", "#fbec87");
	}
}

//点击checkbox时就选中此行
function changeBGColor(e){
	var value = $(e).is(":checked");
	var trObj = $(e).parent().parent();
	if(value == true){
		trObj.css("background", "#fbec87");
	}else{
		trObj.css("background", "");
	}
}

</script>

<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6">
		<form id="queryForm" class="form-inline" role="form">
			<div class="form-group col-md-6">
				<label for="name">Name:</label> <input type="input"
					class="form-control" style="margin-left:10%;width:60%" id="name" name="name" ng-model="form.name" placeholder="Enter Name">
			</div>
			<div class="form-group col-md-6">
				<label for="email">Email:</label> <input type="text"
					class="form-control" style="margin-left:10%;width:60%" id="email" name="email" ng-model="form.email"
					placeholder="Enter Email">
			</div>
			<center>
				<button type="button" ng-click="queryBtn()" class="btn btn-primary" style="margin-top:20px">查询</button>
				<button type="reset" ng-click="resetBtn()" class="btn btn-primary" style="margin-top:20px">重填</button>
			</center>
		</form>
		<table
			class="table table-bordered table-striped table-hover table-condensed">
			<div class="btn-group pull-right">
				<button type="button" class="btn btn-primary" ng-click="addBtn()">增加</button>
				<button type="button" class="btn btn-primary" ng-click="updateBtn()">修改</button>
				<button type="button" class="btn btn-primary" ng-click="deleteBtn()">删除</button>
			</div>
			<thead>
				<tr>
					<th class="col-md-1"></th>
					<th class="col-md-2">Name</th>
					<th class="col-md-3">Email</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="x in page.records" onclick="selectCheckbox(this)">
					<td><input type="checkbox" name="grid_checkbox"
						value="{{x.id}}"
						onclick="changeBGColor(this);event.stopPropagation();"></td>
					<td>{{ x.name }}</td>
					<td>{{ x.email }}</td>
				</tr>
				<tr>
					<td colspan="3">
						<div>
							<button type="button" name="goToFirst" class="btn btn-primary"
								ng-click="pagingBtn('goToFirst')">首页</button>
							<button type="button" name="back" class="btn btn-primary"
								ng-click="pagingBtn('back')">上一页</button>
							<button type="button" name="next" class="btn btn-primary"
								ng-click="pagingBtn('next')">下一页</button>
							<button type="button" name="goToLast" class="btn btn-primary"
								ng-click="pagingBtn('goToLast')">尾页</button>
							转到第<input type="text" name="pageIndex" size="1" maxlength="3" ng-model="pageIndex"/>页
							<button type="button" name="go" class="btn btn-primary"
								ng-click="pagingBtn('go')">go</button>
						</div>
						<div>每页显示{{page.pageRecordNum}}条&nbsp第{{page.currentPageIndex}}/{{page.totalPage}}页</div>
					</td>
				</tr>
			</tbody>
		</table>
		

		
		<!-- 
					<center>
						<ul class="pagination">
							<li><a href="#">&laquo;</a></li>
							<li><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li><a href="#">&raquo;</a></li>
						</ul>
					</center>
				-->
	</div>
	<div class="col-md-3"></div>
</div>
